.newQuote {
  background: #05386B;
  border: none;
  color: #EDF5E1;
  font-size: 1.2em;
  height: 40px;
  margin: 1em;
  padding: 0em 1em 0em 1em;
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 768px) {
  .newQuote {
    margin-bottom: 0.5em;
  }
}
