.quoteBox {
  background: #FFEDF5E1;
  max-width: 800px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
  color: ##05386B;
}

.quoteText {
  display: inline-block;;
  margin: 1em 1em 0em 1em;
  text-align: left;
  font-size: 1.5em;
  padding: 0em 2em 0em 2em;
}

.quoteAuthor {
  font-size: 1.5em;
}

@media (max-width: 320px) {
  .quoteText {
    font-size: 1.2em;
    padding: 0em 0.5em 0em 0.5em;
  }
  .quoteAuthor {
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  .quoteText {
    padding: 0em 1em 0em 1em;
  }
}
