.twitterShareButton {
  background: #379683;
  color: #05386B;
  display: inline-block;
  font-size: 1.2em;
  height: 40px;
  text-decoration: none;
  padding: 0em 1em 0em 1em;
  font-family: 'Roboto', sans-serif;
  vertical-align: bottom;
  margin: 1em;
  line-height: 40px;
}

@media (max-width: 320px) {
  .twitterShareButton {
    font-size: 1em;
  }
}
