body {
  margin: 0;
  background: rgb(0,57,115);
  background: -moz-linear-gradient(180deg, rgba(0,57,115,1) 0%, rgba(2,96,186,1) 35%, rgba(93,220,230,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0,57,115,1) 0%, rgba(2,96,186,1) 35%, rgba(93,220,230,1) 100%);
  background: linear-gradient(180deg, rgba(0,57,115,1) 0%, rgba(2,96,186,1) 35%, rgba(93,220,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003973",endColorstr="#5ddce6",GradientType=1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
